/* google font poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* utilities */
body{
    font-family: 'Poppins', sans-serif;
}
.container{
    height: 300px;
    margin-bottom: 100px;
    border-radius: 10px;
    margin-right: auto;
    margin-left: auto;
}
.dark{
    color:#000;
}





/* top section */
.top-section{
    background-color: #264653;
    height: 698px;
}

.text-button{
    color:#fff;
}
/* honda CBR 300R */
.text-button{
    margin-top:215px;
    margin-bottom:215px;
    margin-left:156px;
    margin-right:69px;
}
.text-button > h1{
    margin-bottom: 18px;
    font-size: 48px;
    width: 456px;
    height: 66px;
}
/* button */
.purchase-button{
    background-color: #E76F51;
    border: none;
    border-radius: 5px;
    color:#fff;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 46px;
    padding-right: 46px;
}
/* img size */
.top-section > div > img{
    width: 552px;
    height: 447px;
    margin-left:0px;
    margin-right:183px;
    margin-top:155px;
    margin-bottom: 96px;
}






/* Fetured Bikes */
.fetured-bikes-text{
    margin-top: 64px;
    margin-bottom: 120px;
}
.fetured-bikes-text > h1{
    font-size: 48px;
}
.fetured-bikes-text > h6{
    font-size: 14px;
    color: #E76F51;
}
.fetured-bikes > div > img{
    width: 288px;
    height: 243px;
    margin-left:35px;
    margin-right:35px;
}
.gray-img{
    filter: grayscale(100%);
}







/* Happy Clients says */
.Happy-Clients-says{
    margin-top:160px;
}
.mb-52{
    margin-bottom: 52px;
}
.span-color{
    color: #E76F51;
}
/* card */
/* card images */
.img-size{
    width: 149px !important;
    height:149px !important;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 50px;
    margin-right: 50px;
}
.fa-star{
    color:#E76F51;
    margin-top:0px;
}
.user-name{
    color: #23A6F0;
    font-size: 14px;
    margin-top:7px;
}
.user-job{
    color: #252B42;
    font-size: 14px;
}










/* Frequently Asked Questions */
.Frequently-Asked-Questions{
    margin-top:158px;
}
.Frequently-Asked-Questions > h1{
    margin-bottom:112px;
}
.img-and-accordion > div > img{
    width: 431.2px;
    height: 423.5px;
    margin-right:141px;
}
.accorfion-size{
    width: 552px;
    height: 203px;
}








/* from */
.from-section{
    background-color: rgba(144, 144, 144, 0.219);
    margin-top: 156px;
}
.from-section-headline{
    padding-top: 100px;
}
.email{
    padding-top: 10px;
}
.input-email{
    position: absolute;
    height: 30px;
    width: 50px;
}
.py-8{
    padding-top:6.9px;
    padding-bottom:6.9px;
}